
<html>

 <head>
  <link rel="stylesheet" href="stylesheets/comments.css" type="text/css">
 </head>

 <body>


  <form action="/" method="POST">
   <label> Comment: <br>
    <input name="comment" class="Input">
   </label>
   <br>
   <input type="submit" name="Submit" value="Submit Comment" class="Submit">

   <p id="comment"></p>

    <input type="text" name="url" placeholder="Your Name"><br><br>
    <textarea name="content" id="" width="200px" height="100px"></textarea>
    <input type="submit">
  </form>

 </body>
 <!-- <script>
 document.getElementById("myBtn").addEventListener("click", displayComment);

 function displayComment() {
     document.getElementById("comment").innerHTML = comment();
 }
 </script> -->
</html>
