
<html>

 <head>
  <link rel="stylesheet" href="comments.css" type="text/css">
 </head>

 <body>

  <form method="POST">

   <label> Comment: <br>
    <textarea name="Comment" class="Input" style="width: 300px" required></textarea>
   </label>
   <br><br>
   <input type="submit" name="Submit" value="Submit Comment" class="Submit">
   <button id="myBtn">Try it</button>

   <p id="comment"></p>

   <script>
   document.getElementById("myBtn").addEventListener("click", displayComment);

   function displayComment() {
       document.getElementById("comment").innerHTML = comment();
   }
   </script>

  </form>

 </body>

</html>

}﻿
