
<html>

 <head>
  <link rel="stylesheet" href="stylesheets/comments.css" type="text/css">
 </head>

 <body><br>


  <form action="/" method="POST">
<<<<<<< HEAD

   <label> Comment: <br>
    <input name="comment" class="Input">
   </label>
   <br><br>
   <input type="submit" name="Submit" value="Submit Comment" class="Submit">

   <p id="comment"></p>

   <!-- <script>
   document.getElementById("myBtn").addEventListener("click", displayComment);

   function displayComment() {
       document.getElementById("comment").innerHTML = comment();
   }
   </script> -->

=======
    <input type="text" name="url" placeholder="Your Name"><br><br>
    <textarea name="content" id="" width="200px" height="100px"></textarea>
    <input type="submit">
>>>>>>> b2e706ac305b3b30ec9815b4c1a4bd37c7381366
  </form>

 </body>

</html>
