
<html>

 <head>
  <link rel="stylesheet" href="comments.css" type="text/css">
 </head>

 <body>

  <form action="/" method="POST">

   <label> Comment: <br>
    <input name="comments" class="Input">
   </label>
   <br><br>
   <input type="submit" name="Submit" value="Submit Comment" class="Submit">

   <p id="comment"></p>

   <!-- <script>
   document.getElementById("myBtn").addEventListener("click", displayComment);

   function displayComment() {
       document.getElementById("comment").innerHTML = comment();
   }
   </script> -->

  </form>

 </body>

</html>
