<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset="utf-8">
  <title>Full Stack Photo App</title>
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
</head>
<body>
    <form id="createuser" action="forum.html">
      <input type="text" name="first_name" id="first_name"><br>
      <input type="text" name="last_name" id="last_name"><br>
      <input type="text" name="user_name" id="user_name"><br>
      <input type="email" name="email" id="email"><br>
      <input type="password" name="password" id="password"><br>
      <input type="submit" name="submit" id="submit">
    </form>
    <!-- This is going to be our homepage file -->
  </body>
  </html>
