<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset="utf-8">
    <title>Full Stack Photo App</title>
  </head>
  <body>
    <form id="createuser" action="forum.html">
      <input type="text" name="firstName" id="firstName">
      <input type="text" name="lastName" id="lastName">
      <input type="text" name="userName" id="userName">
      <input type="email" name="email" id="email">
      <input type="password" name="password" id="password">
      <input type="submit" name="submit" id="submit">
    </form>
    <!-- This is going to be our homepage file -->
  </body>
</html>
